.burgerButton{
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
    -fx-border-width: 0;
    -fx-background-radius: 100;
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-font-family: "SF Pro Display";
}

.burgerButton:hover{
    -fx-background-color: #dcdcdc;
    -fx-cursor: hand;
}