.sideBarButtonStyle{
    -fx-background-color: transparent;
    -fx-text-fill: #d0c0ff;
    -fx-border-color: #ffffff;
    -fx-border-width: 0;
    -fx-background-radius: 15;
    -fx-pref-height: 35;
    -fx-font-size: 13;
    -fx-font-family: "SF Pro Display";
}

.sideBarButtonStyle:hover{
    -fx-background-color: #7b5cd6;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}